<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        class="img-thumbnail rounded-circle"
        width="180px"
        src="img/saputra.JPG"
        alt="Saputra"
      />
      <h1 class="display-4">Muhamad Tri Saputra</h1>
      <p class="lead">Student | FrontEnd</p>
    </div>
  </div>
</div>
